@charset "UTF-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
	font-family: 'MapoGoldenPier';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SUITE-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


* {
	font-family: 'NanumSquare';
}

.whole-container {
	width: 800px;
	margin: 0px auto 100px auto;
}

.content-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 0px;
	height: 100%;
	overflow: scroll;
}

.main-container {
	border: 1px solid #DFE2E6;
	/*border-top: none;*/
	width: 100%;
	height: 800px;
	position: relative;
	top: -1px;
	border-radius: 0 10px 10px 10px;
	margin-bottom: 100px;
	padding: 35px 50px 50px 50px;
}