@charset "UTF-8";

.whole-container {
	width: 800px;
	margin: 100px auto;
}

.content-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 0px;
	height: 100%;
	overflow: scroll;
}

.main-container {
	border: 1px solid #DFE2E6;
	/*border-top: none;*/
	width: 100%;
	height: 800px;
	position: relative;
	top: -1px;
	border-radius: 0 10px 10px 10px;
	margin-bottom: 100px;
	padding: 35px 50px 50px 50px;
}